<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="com.mthree.flooringmastery.view.UserIOImpl" />
    <bean id="dao" class="com.mthree.flooringmastery.dao.FlooringDaoFileImpl" />

    <bean id="view" class="com.mthree.flooringmastery.view.FlooringView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="service" class="com.mthree.flooringmastery.service.FlooringServiceImpl">
        <constructor-arg ref="dao" />
    </bean>

    <bean id="controller" class="com.mthree.flooringmastery.controller.FlooringController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>


</beans>